%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
%big-button {
  font-size: $h2-font-size;
}
%pink-button {
  color: white;
  background: linear-gradient(to right, #FE82BE, #EE3AB2);
  &:hover {
    background: linear-gradient(to right, #FF96F6, #FA5088);
  }
}