body {
  font-family: 'Raleway', Helvetica, Arial;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Helvetica, Arial;
}

.container {
  @include outer-container(960px);
}

.l_horizontal-list {
  li {
    float: left;
    margin-right: 2rem;
    margin-bottom: .5rem;
    &:last-child  { margin-right: 0; }
  }
}

section, footer {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .section-title {
    text-align: center;
  }
}

.l_cells {
  @include media($tablet) {
    padding-bottom: 3rem;
  }
  @include media($mobile) {
    padding-bottom: 3rem;
  }
}

.l_cell {
  text-align: center;

  padding-left: .5rem;
  padding-right: .5rem;

  @include span-columns(4);

  @include media($tablet) {
    @include span-columns(8);
    margin-bottom: 2rem;
  }

  @include media($mobile) {
    @include span-columns(4);
    margin-bottom: 2rem;
  }
}

.cell-body {
  font-size: 14px;
}
