// Colors
header.navigation {
  border-bottom: none;
}

.headline-container .headline-sub {
  background-color: $light;
  color: $dark-text;
  font-size: 22px;
  margin-bottom: 2rem;
}

.headline-container .headline-minor {
  color: $light-text;
}

.headline {
  background-color: $headline-section;
  color: $headline-text;
}

footer {
  background-color: $footer-section;
  color: $footer-text;
}

input[type='submit'] {
  background-color: $base-button-color;
  &:hover {
    background-color: $hover-button-color;
  }
}
