body {
  font-family: 'Open Sans', Helvetica, Arial;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #666;
}

/* background colors taken from logo */
$logocolors: #EEA086, #FFFFFF, #CDCECA, #B0D9C6, #DE4C3E

/* corresponding contrasty text colors */
/* $bodytextcolors: */
/* $headlinecolors: */

