header.hero {
  position: relative;
  height: 650px;
  max-height: 650px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  nav.main {
    position: absolute;
    top: 10px;
    z-index: 1;
    width: 100vw;
    display: flex;
    padding: 0 40px 0 20px;
    justify-content: space-between;
    a {
      color: #ffffff;
    }
    .home {
      font-weight: bold;
    }
    ul {
      li {
        display: inline;
        &:not(:last-of-type)::after{
          content: " | ";
          color: #dddddd;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: .3;
  }

  .header.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    .event {
      text-align: center;
      margin-bottom: 2.5rem;

      .title {
        color: #ffffff;
        font-size: 50px;
      }
      .tagline {
        color: #ffffff;
        font-size: 30px;
      }
      .date-location {
        color: #ffffff;
        font-size: 22px;
      }
    }
    .signup {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      p {
        color: #efefef;
      }
      a.newsletter-link {
        text-decoration: underline;
      }
    }
  }

  .ross {
    height: 400px;
    position: absolute;
    bottom: -55px;
    left: 90px;
    img {
      max-height: 100%;
    }
  }

  @media(max-width: 875px){
    .ross {
      left: 30px;
    }
  }
  @media (min-width: 580px) and (max-width: 760px){
    .ross {
      height: calc(50vw - 60px)
    }
  }
  @media (max-width: 580px) {
    .ross {
      display: none;
    }
  }
}

.intro {
  .container {
    p {
      column-count: 2;
    }
  }
}

img.image-round {
  border-radius: 50%;
  transition: filter ease-in-out .2s;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
img.image-round:hover {
  border-radius: 50%;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

[class^="icon-"], [class*=" icon-"] {
  transition: color ease-in-out .2s;
}
.icon-twitter:hover {
  color: #5fa9ff;
}
.icon-github:hover {
  color: #16274c;
}

%item {
  width: calc(33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 30px 10px;

  .image {
    align-self: center;
    width: 100%;
    height: 100px;
    max-height: 100px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1;
    margin-bottom: 20px;
    img {
      margin: 0;
      height: 100%;
      max-width: none;
    }
  }
  .title {
    align-self: center;
    margin-bottom: 10px;
  }
  .description {
    min-height: 50px;
  }
  @media(max-width: 750px) {
    width: 42%;
  }
  @media(max-width: 550px) {
    width: 100%;
  }
}

.projects {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h2 {
      flex: 1 1 100%;
    }
    .item {
      @extend %item;
      .image {
        height: 100px;
        max-height: 100px;
      }
    }
  }
}

.team {
  &.light, &.light a {
    color: #FFFFFF;
  }
  &.dark, &.dark a {
    color: #666666;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h2 {
      flex: 1 1 100%;
    }
    .item {
      @extend %item;

      width: calc(44%);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 25px;
      zoom: .9;

      .image {
        width: auto;
        height: 170px;
        max-height: 170px;
        img {
          height: 170px;
          max-height: 170px;
        }
      }
      .description {
        text-align: center;
      }
    }
  }
}

.sponsors {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h2 {
      flex: 1 1 100%;
    }
    .sponsor.gold {
      flex: 1 1 100%;
    }
    .sponsoring {
      flex: 1 1 100%;
    }
  }
}
