<footer id="footer">
  <div class="container">
    <p>
      The ROSS conf project and event adheres to the <a href="https://www.contributor-covenant.org/version/2/0/code_of_conduct/" target="_blank">Contributor Convenant Code of Conduct</a>. By participating, you are expected to honor this code. If you notice or experience anything that's not in line with our CoC, please reach out to our team: Rayta van Rijswijk (she/her), <a href="mailto:rayta@rubynl.org">rayta@rubynl.org</a>, or Tom de Bruijn (he/him), <a href="mailto:tom@rubynl.org">tom@rubynl.org</a>.
    </p>
    <hr />
    Get in touch with ROSS conf via <a href="mailto:hello@rossconf.io">hello@rossconf.io</a>
    <hr />
    <p>
      <a class="github-button" href="https://github.com/rossconf" aria-label="Follow @rossconf on GitHub">Follow @rossconf</a>
      <a href="https://twitter.com/rossconf?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @rossconf</a>
    </p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<%= javascript_include_tag  "application" %>
<%= partial 'partials/analytics' %>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
