<footer id="footer">
  <div class="container">
    <p>
      The ROSS conf project adheres to the <a href="https://github.com/rossconf/rossconf.io/blob/master/CODE_OF_CONDUCT.md" target="_blank">Contributor Convenant Code of Conduct</a>). ROSS conf events adhere to the <a href="http://berlincodeofconduct.org/" target="_blank">Berlin Code of Conduct</a>. By participating, you are expected to honor this code.
    </p>
    <hr />
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//rossconf.us11.list-manage.com/subscribe/post?u=1890f61dd37d6cd7c39f36a34&amp;id=e4e6fb0713" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Subscribe to our mailing list</label>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <input type="submit" value="Hook me up!" name="subscribe" id="mc-embedded-subscribe" class="button">
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_1890f61dd37d6cd7c39f36a34_e4e6fb0713" tabindex="-1" value=""></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
    Get in touch with ROSS conf via <a href="mailto:hello@rossconf.io">hello@rossconf.io</a>
    <hr />
    <p>
      <a class="github-button" href="https://github.com/rossconf" aria-label="Follow @rossconf on GitHub">Follow @rossconf</a>
      <a href="https://twitter.com/rossconf?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @rossconf</a>
    </p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<%= javascript_include_tag  "application" %>
<%= partial 'partials/analytics' %>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
