<% if location %>
  <section class="location" id="location">
    <div class="container">
      <h2>Location</h2>
      <div class="location-details">
        <div class="location-info">
          <address>
            <%= location.address %>
          </address>
        </div>
        <div class="location-map">
          <iframe src="<%= location.map_link %>" width="100%" height="400" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>
  </section>
<% end %>
