<section class="location" id="location">
  <h2>Location</h2>
  <div class="location-details">
    <div class="location-info">
      <address>
        <a href="http://sektor5.at/" target="_blank">
          <strong>sektor5 coworking spaces</strong>
        </a>
        <br />
        Siebenbrunnengasse 44
        <br />
        1050 Vienna
        <br />
        Austria
      </address>
    </div>
    <div class="location-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2660.0684826652828!2d16.355026000000002!3d48.186032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da82edde1c8b9%3A0x76e0e53b3d63c685!2ssektor5+coworking+spaces+Wien!5e0!3m2!1sen!2sat!4v1426582358390" width="100%" height="400" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</section>
