<section class="speakers" id="speakers">
  <div class="container">
    <h2>Speakers</h2>
    <% data.content.speakers.each do |speaker| %>
      <div class="l_cell">
        <div class="l_image-cell">
           <%= image_tag speaker.image_url, class: "image-round", alt: speaker.name %>
        </div>
        <div class="l_text-cell">
          <div class="speaker-subhead">
            <h3 class="subhead">
              <%= speaker.name %>
            </h3>
            <div class="speaker-social">
              <% %w(twitter github).each do |social|  %>
                <% if speaker.send(social) %>
                  <span class="social-link">
                    <% link_to "https://#{social}.com/#{speaker.send(social)}" do %>
                      <i class="icon-<%= social %>"></i>
                    <% end %>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="body">
            <%= md(speaker.bio) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
