<section class="sponsors" id="sponsors">
  <div class="container">
    <h3>Sponsors</h3>
    <div class="sponsor">
      <a href="http://www.codeship.io" target="_blank">
        <span class="helper"></span>
        <img src="/images/sponsors/codeship.png" width="200px" /></a>
    </div>
    <div class="sponsor">
      <a href="http://www.github.com" target="_blank">
        <span class="helper"></span>
        <img src="/images/sponsors/github.png" width="200px" /></a>
    </div>
  </div>
</section>

