<% if sponsors %>
  <section class="sponsors" id="sponsors">
    <div class="container">
      <h3>Partners</h3>
      <% sponsors.each do |sponsor| %>
        <div class="sponsor">
          <a href="<%= sponsor.url %>" target="_blank">
            <span class="helper"></span>
            <img src="<%= sponsor.image %>" /></a>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
