<section class="sponsors" id="sponsors">
  <div class="container">
    <h3>Partners</h3>
    <div class="sponsor">
      <a href="https://codeship.com/?utm_source=offline&utm_medium=event&utm_campaign=rossconf" target="_blank">
        <span class="helper"></span>
        <img src="/images/sponsors/codeship_colour.png" width="120px" /></a>
      <a href="http://www.falkensteiner.com/de/hotel/schottenfeld" target="_blank">
        <span class="helper"></span>
        <img src="/images/sponsors/2510_b_Schottenfeld_NEG.jpg" width="120px" /></a>
      <a href="http://www.sektor5.at" target="_blank">
        <span class="helper"></span>
        <img src="/images/sponsors/s5_Logo_high.png" width="120px" /></a>
      <a href="http://mjam.net/" target="_blank">
        <span class="helper"></span>
        <img src="/images/sponsors/mjam_logo.png" width="120px" /></a>
      <a href="http://www.thechangelog.com/" target="_blank">
        <span class="helper"></span>
        <img src="/images/sponsors/changelog.png" width="120px" /></a>
    </div>
    <!-- <div class="sponsor">
      <a href="http://www.github.com" target="_blank">
        <span class="helper"></span>
        <img src="/images/sponsors/GitHub-Mark-120px-plus.png" width="120px" /></a>
    </div> -->
  </div>
</section>
