<section id="rubyissues">
  <div class="container">
    <h3>RubyIssues</h3>
    <p><a href="https://rubyissues.ongoodbits.com/">RubyIssues</a> curates a newsletter full of significant, compelling, bizarre, tricky and all together worthwhile issues within Ruby projects.
Sign up via <a href="https://rubyissues.ongoodbits.com/">rubyissues.ongoodbits.com</a> and get started working on open source.</p>
  </div>
</section>
