body>header {

  h1 {
    float: left;
    margin-bottom: 0;
    a {
      color: #FFFFFF;
      line-height: 84px;

      canvas {
        float: left;
        margin-right: .5em;
      }
    }
  }

  background: $darker-gray;
  .container {
    padding: 1em 0;
  }

  nav.main {
    float: right;
    text-align: right;
    a {
      color: #FFF;
    }
  }

  img {
    width: 200px;
    height: auto;
  }
}

#testimonials {
  position: relative;
  background: #FFF;
  padding-bottom: 2.5em;
  .slick-slider {
    margin-bottom: 0;
  }

  .testimonial {
    background-position: 50% 50%;
    background-size: cover;
  }
  .container {
    position: relative;
    min-height:      500px;
  }

  blockquote {
    position:   absolute;
    left:       0;
    bottom:     1em;
    width:      60%;
    padding:    1em;
    background: rgba(255, 255, 255, .7);
    color:      #000000;
    line-height: 1.9em;
    border:      0;
    strong {
      display:    block;
      text-align: right
    }
  }

}

.event-grid {
  padding: 2em 2.5em;
  text-align: center;
  background: #FFFFFF;

  .event-link {
    position: relative;
    display: inline-block;
    font-size: 2em;
    line-height: 1.5em;
    @include media($large-screen){
      margin: 0 2em;
    }

    .photo {
      display: inline-block;
      width: 250px;
      height: 250px;
      background: url(/images/header-bg.jpg) 50% 50% no-repeat;
      border-radius: 50%;
    }

    a {
      display: block;
      text-align: center;
      font-weight: bold;
    }

  }
}

img.image-round {
  border-radius: 50%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.button {
  font-size: 1.2em;
  color: white !important;
  @include media($mobile) {
    width: 100%;
    text-align: center;
  }

  @include media($tablet) {
    width: 100%;
    text-align: center;
  }
}

section {
  .social-link {
    a {
      color: $darker-gray;
    }
  }
}

.list-horizontal {
  li {
    float: left;
  }
}

/////////////////////////////////////////
// Berlin changes
/////////////////////////////////////////

.project-title-hint {
  font-size: .75rem;
  margin-bottom: .25rem;
}

.project-subhead-title {
  font-size: 1.75rem;
  float: left;
}

.project-title {
  overflow: hidden;
}

.project-title-text {
  float: left;
}

.project-title-logo {
  float: right;
  img {
    height: 3rem;
  }
}

.project-subhead {
  color: #5B0909;
  width: 100%;
  overflow: hidden;
  margin-bottom: .75rem;
}

.maintainer-social-links {
  float: right;
  li {
    margin-right: .5rem;
    &:last-child {
      margin-right: 0rem;
    }
  }
}

.project {
  margin-bottom: 5rem;
  overflow: hidden;
}




////////////////////////////////////////
// Main sections
///////////////////////////////////////

.projects { background-color: #fff }
.team { background-color: #fff }
.sponsors { background-color: #fff }

#rubyissues {
  background-color: #fff;
  .container { background-color: transparent; }
}


