.button {
  font-size: 1.2em;
  color: white !important;
  @include media($mobile) {
    width: 100%;
    text-align: center;
  }

  @include media($tablet) {
    width: 100%;
    text-align: center;
  }
}

.speakers {
  background-color: #ffffff;
}
.schedule {
  background-color: #ffffff;
}
.coc {
  background-color: #ffffff;
}
.sponsors {
  background-color: #ffffff
}
