<div class="event-grid">
  <% data.events.each do |city, event| %>
    <% if event %>
      <div class="event-link">
        <a href="/event/<%= city %>.html">
        <span class="photo" style="background-image: url(<%= event.header_front %>)"></span><br />
        <%= city.capitalize %><br /><%= event.date %></a>
      </div>
    <% end %>
  <% end %>
</div>
