<section class="coc" id="coc">
  <div class="container">
    <h2>Questions, Concerns or Help needed?</h2>
    <% if coc %>
      <%= coc %>
    <% else %>
      This event has not yet provided any specific contacts to reach out to, but please, do not hesitate to get in touch via hello@rossconf.io at any time!
    <% end %>
  </div>
</section>
