<% multi_day ||= false %>
<% if schedule %>
  <section class="schedule" id="schedule">
    <div class="container">
      <h2>Schedule</h2>
      <% if multi_day %>
        <% schedule.each do |day, activities| %>
          <h3><%= day %></h3>
          <%= partial "partials/event/activities_table", locals: { activities: activities } %>
        <% end %>
      <% else %>
        <%= partial "partials/event/activities_table", locals: { activities: schedule } %>
      <% end %>
    </div>
  </section>
<% end %>
