$header-margin: 1.5rem;
$header-margin-medium: 1rem;
$header-margin-narrow: .5rem;

header {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.header-image {
  display: block;
  width: 100%;
  @include media(new-breakpoint(max-width 650px)) {
    height: 254px;
  }
}

.header-logo {
  width: 430px;
  margin-bottom: $header-margin;
  @include media(new-breakpoint(max-width 800px)) {
    margin-bottom: $header-margin-medium;
  }
  @include media(new-breakpoint(max-width 760px)) {
    width: 350px;
  }
  @include media(new-breakpoint(max-width 650px)) {
    width: 250px;
  }
  @include media(new-breakpoint(max-width 650px)) {
    width: 250px;
  }
}

.header-title {
  color: $white;
  font-size: 50px;
  margin-bottom: $header-margin;
  @include media(new-breakpoint(max-width 800px)) {
    margin-bottom: $header-margin-medium;
  }
  @include media(new-breakpoint(max-width 760px)) {
    font-size: 40px;
  }
  @include media(new-breakpoint(max-width 650px)) {
    font-size: 30px;
  }
}

.header-date {
  color: $white;
  margin-bottom: $header-margin;
  @include media(new-breakpoint(max-width 760px)) {
    font-size: 35px;
  }
  @include media(new-breakpoint(max-width 650px)) {
    font-size: 25px;
  }
}

.header-location {
  color: $light;
  margin-bottom: $header-margin;
}

.header-info {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 0px;

  $medium-screen: em(640);
  $large-screen: em(860);

  //$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
  //$large-screen-up: new-breakpoint(min-width $large-screen 12);
  $tablet: new-breakpoint(max-width $large-screen 8);

  @include media(new-breakpoint(max-width 940px)) {
    top: 10%;
  }

}
.header-info strong {
  color: #FFFFFF;
  font-size: 1.5em;
}
