@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-vllwuo');
	src:url('/fonts/icomoon.eot?#iefix-vllwuo') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-vllwuo') format('woff'),
		url('/fonts/icomoon.ttf?-vllwuo') format('truetype'),
		url('/fonts/icomoon.svg?-vllwuo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}

.icon-github:before {
	content: "\e601";
}

