#sponsors {
  text-align: center;
}

.sponsor {
  min-height: 200px;
  display: inline-block;

  margin: 0 2em;

  img {
    width: 150px;
  }

  &.gold {
    img {
      width: 400px;
    }
  }
}

.sponsoring {
  clear: both;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
