.tickets {
  /* make tickets not vertical scroll */
  iframe {
    height: 265px;
  }

  .eventbrite-branding {
    margin-top: -2rem;
  }

  .note {
    display: block;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #FFF;
  }
}
