.blog {
  article {
    background: #FFF;
    padding: 1.5em;
    border: 1px solid #DCDCDC;
    margin: 2em 0;

    header {
      margin: -1.5em -1.5em 2em -1.5em;
      padding: 1.5em;
      background-position: 50% 50%;
      background-size:     cover;

      h2 {
        color: #454545;
        background: rgba(255, 255, 255, .8);
        margin: 5em 0 1.5em -1.5em;
        padding: .5em 0 .5em 1.5em;
      }
    }

    small {
      display: block;
      text-align: right;
      font-size: .8em;
    }

    a {
      color: #131313;
    }

    .meta {
      font-size: .8em;
    }
  }

  .blog-list {
    * { font-size: 1em; }
    article {
      width: 50%;
    }
    h2 {
      font-size: 1.5em;
      margin: 0;
      padding: 1em .5em;
    }
  }
}
